<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Tampilkan Product</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Daftar Produk</div>
        <hr>
          <table border="1">
        <tr>
            <th>NO.</th>
            <th>Nama Barang</th>
            <th>Merk Barang<th>
        </tr>
        <tr th:each="barang,count:${namapaket}">
            <td th:text="${count.index+1}"></td>
            <td th:text="${barang[0]}"></td>
            <td th:text="${barang[1]}"></td>
        </tr>
        </table>
    </body>
</html>
